#Author: Kai Oswald
#Source: https://dev.to/kaos/complete-cicd-for-flutter-apps-42dc

name: Build Flutter apps

on:
  push:
    branches:
      - '*'
    tags:
      - v*
      - dev*
  pull_request:


jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Flutter
        uses: subosito/flutter-action@v1.5.3
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter packages get

      - name: Analyze
        run: flutter analyze lib test

      - name: Run tests
        run: flutter test --no-pub --coverage --test-randomize-ordering-seed random test

  build_android:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Flutter
        uses: subosito/flutter-action@v1.5.3
        with:
          channel: 'stable'

      - name: Build Android App
        run: flutter build apk

      - name: Archive Production Artifact
        uses: actions/upload-artifact@master
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/dev')
        with:
          name: android
          path: build/app/outputs/**/*.apk

  build_ios:
    runs-on: macos-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Flutter
        uses: subosito/flutter-action@v1.5.3
        with:
          channel: 'stable'

      - name: Build iOS App
        run: |
          flutter build ios --no-codesign
          cd build/ios/iphoneos
          mkdir Payload
          cd Payload
          ln -s ../Runner.app
          cd ..
          zip -r app.ipa Payload

      - name: Archive Production Artifact
        uses: actions/upload-artifact@master
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/dev')
        with:
          name: ios
          path: build/ios/iphoneos/app.ipa

  build_web:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get Flutter
        uses: subosito/flutter-action@v1.5.3
        with:
          channel: 'stable'

      - name: Build web
        run: |
          flutter build web
          cd build/web
          zip -r web-app.zip .

      - name: Archive Production Artifact
        if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/tags/dev')
        uses: actions/upload-artifact@master
        with:
          name: web
          path: build/web/web-app.zip

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [ build_android, build_ios, build_web ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          path: build/

      - name: Release Apps
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: 'build/**/*.apk,build/**/app.ipa,build/**/web-app.zip'

  deploy_web_dev:
    if: startsWith(github.ref, 'refs/tags/dev') || startsWith(github.ref, 'refs/tags/v')
    needs: build_web
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: web
          path: build/web

      - name: Extract Artifact
        run: 7z x build/web/web-app.zip -obuild/web/web-app -r

      - name: Deploy with rsync
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzr --delete
          path: build/web/web-app/
          remote_path: /var/www/html/recycling_dev
          remote_host: ${{ secrets.SSH_HOST }}
          remote_port: ${{ secrets.SSH_PORT }}
          remote_user: ${{ secrets.SSH_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}

  deploy_web_prod:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [ release, deploy_web_dev ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: web
          path: build/web

      - name: Extract Artifact
        run: 7z x build/web/web-app.zip -obuild/web/web-app -r

      - name: Deploy with rsync
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzr --delete
          path: build/web/web-app/
          remote_path: /var/www/html/recycling_dev
          remote_host: ${{ secrets.SSH_HOST }}
          remote_port: ${{ secrets.SSH_PORT }}
          remote_user: ${{ secrets.SSH_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}

# TODO: Add deployment to Google Play Store
